{% extends "base.html" %}
{% block content %}
{% if session.logged_in %}
<p>Logged in as {{ session.user }} - <a href="/logout">Log Out</a></p>
<h2>Create New Post</h2>
<form method="POST" id="newpost">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
    <input type="text" name="title" maxlength="255" />
    <textarea form="newpost" name="body"></textarea>
    <input type="submit" name="submit" />
</form>
{% else %}
<h2>Sorry.</h2>
<p>You must be logged in to create new posts.</p>
<a href="/login">Log In Now</a>
<a href="/register">Register</a>
{% endif %}
<a href="/">Home</a>
{% endblock %}