<!DOCTYPE html>
<html>
    <head>
        <title>Flask Microblog</title>
        <link href="/static/base.css" rel="stylesheet">
    </head>
    <body>
    <div id="main">
        {% with flashes = get_flashed_messages() %}
          {% if flashes %}
            <ul class=flashes>
            {% for message in flashes %}
              <li>{{ message }}</li>
            {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </div>
    </body>
</html>