{% extends "base.html" %}
{% if session.logged_in %}
<p>Logged in as {{ session.user }} - <a href="/logout">Log Out</a></p>
{% else %}
<p>Not logged in - <a href="/login">Log In</a> or <a href="/register">Register</a></p>
{% endif %}
{% block content %}
<a href="/add">Create Post</a>
<div id="posts">
    {% for post in posts %}
    <div>
        <h2><a href="/posts/{{ post.id }}">{{ post.title }}</a></h2>
        <i>{{ post.date }}</i>
        <p>{{ post.body }}</p>
    </div>
    {% endfor %}
</div>
{% endblock %}